* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background: #1C2431;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        img {
            width: 80px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 30%;
            list-style: none;
            a {
                text-decoration: none;
                color: #d6d1d1;
            }
        }
    }
}

// Start Slider Box 
.slider {
    margin-top: 200px;
    position: relative;
    z-index: 99999;
    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        top: -100px;
        left: 0;
        .image {
            text-align: center;
            img {
                width: 60%;
            }    
        }
        .text {
            text-align: center;
            width: 70%;
            color: #FFF;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        h1 {
            width: 100%;
            font-size: 40px;
            font-weight: normal;
        }
        p {
            width: 70%;
            margin: 15px 0 30px;
            line-height: 1.5;
            font-size: 18px;
            color: #d6d1d1;
        }
        .link {
            width: 100%;
            a {
                display: inline-block;
                color: #FFF;
                text-decoration: none;
                padding: 7px 50px;
                border-radius: 30px;
                font-size: 18px;
                background: #66E3D9;
            }
        }
    }
}

// Start Box-content
.box-content {
    position: relative;
    padding: 300px 0 200px;
    background: #181F2B;
    margin-top: -10px;
    .info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .box {
            width: 30%;
            text-align: center;
            color: #FFF;
            h3 {
                margin: 10px 0;
            }
            p {
                line-height: 1.3;
            }
        }
    }

    // Start productive Box
    .productive {
        margin: 70px auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .image {
            width: 45%;
            img {
                width: 100%;
            }
        }
        .content {
            width: 40%;
            color: #FFF;
            p {
                margin: 15px 0;
                line-height: 1.3;
            }
            a {
                color: #66E3D9;
                text-decoration: none;
                i {
                    margin-left: 5px;
                    font-size: 11px;
                    padding: 3px;
                    background: #66E3D9;
                    color: #333;
                    border-radius: 50%;
                }
            }
        }
    }
}

// Start testmonials Box
.testmonials {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 999999;
    &:after {
        content: ",,";
        position: absolute;
        top: -120px;
        left: -15px;
        font-weight: bold;
        font-size: 120px;
        color: #66E3D9;
        z-index: -1;
    }
    .box {
        width: 32%;
        padding: 15px;
        background: #232740;
        color: #FFF;
        border-radius: 5px;
        p {
            font-size: 15px;
            line-height: 1.3;
        }
        .founder {
            display: flex;
            align-items: center;
            margin-top: 15px;
            img {
                display: inline-block;
                border-radius: 50%;
                width: 40px;
                margin-right: 10px;
            }
        }
    }
}

// Start access Box
.access {
    position: absolute;
    bottom: -100px;
    left: 25%;
    padding: 30px 15px;
    width: 50%;
    margin: auto;
    background: #1C2431;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    p {
        line-height: 1.3;
        margin-top: 10px;
    }
    form {
        margin-top: 15px;
        input {
            padding: 7px 12px;
            border-radius: 30px;
            border: none;
            &:focus {
                border: none;
                outline: none;
            }
        }
        button {            
            padding: 7px 15px;
            background: #349ECC;
            color: #FFF;
            border: none;
            border-radius: 30px;
            font-size: 15px;
            cursor: pointer;
        }
    }
}

// Start Footer Box
footer {
    margin-top: 100px;
    padding: 70px 0;
    color: #FFF;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .box-1 {
        display: flex;
        align-items: flex-start;
        width: 30%;
        p {
            line-height: 1.3;
        }
        i {
            margin-right: 10px;
        }
    }
    .box-2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 40%;
        .box-text {
            width: 33.3333;
            p {
                &:not(:last-of-type) {
                    margin-bottom: 15px;
                }
                i {
                    margin-right: 7px;
                }
            }
        }
    }
    .box-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        a {
            color: #FFF;
            text-decoration: none;
        }
        i {
            font-size: 22px;
        }
    }
}

.copy-right {
    text-align: center;
    color: #FFF;
    padding: 15px 0;
    a {
        text-decoration: none;
        color: #359ECC;
    }
}
@media (max-width: 767px) {
    header {
        ul {
            width: 60% !important;
        }
    }
    .slider {
        .text {
            width: 100% !important;
        }
        h1 {
            font-size: 30px !important;
        }
        p {
            width: 100% !important;
        }
    }
    .box-content {
        padding-top: 400px !important;
        padding-bottom: 70px;
        .info {
            .box {
                width: 100% !important;
                margin-bottom: 30px;
            }    
        }
        .productive {
            width: 100% !important;
            .image {
                width: 70% !important;
                margin: 0 auto 40px;
            }
            .content {
                width: 100% !important;
            }
        }
        .testmonials {
            .box {
                width: 100% !important;
                margin-bottom: 30px;
            }
        }
        .access {
            position: unset !important;
            width: 100% !important;
            left: 0 !important;
        }
    }
    footer {
        .box-1 {
            width: 100% !important;
            margin-bottom: 40px;
        }
        .box-2 {
            width: 100% !important;
            .box-text {
                width: 100%;
                margin-bottom: 40px;
                &:not(:last-of-type) {
                    margin-bottom: 40px;
                }
            }
        }
        .box-3 {
            width: 100%;
            align-items: flex-start;
            a {
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .container {
        width: 767px;
    }
    .slider {
        h1 {
            font-size: 30px !important;
        }
        p {
            font-size: 16px !important;
            width: 80% !important;
            font-size: 16px !important;
        }
    }
    .box-content {
        padding-top: 400px !important;
        padding-bottom: 70px;
        .info {
            .box {
                width: 45% !important;
            }    
        }
        .productive {
            width: 100% !important;
        }
        .testmonials {
            .box {
                width: 48% !important;
                margin-bottom: 30px;
            }
        }
        .access {
            position: unset !important;
            width: 100% !important;
            left: 0 !important;
        }
    }
    footer {
        .box-1 {
            width: 100% !important;
            margin-bottom: 40px;
        }
        .box-2 {
            width: 25% !important;
            .box-text {
                width: 100%;
                &:not(:last-of-type) {
                    margin-bottom: 40px;
                }
            }
        }
        .box-3 {
            width: 50%;
            align-items: flex-start;
        }
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
    .container {
        width: 991px;
    }
    .box-content {
        .info {
            .box {
                width: 40% !important;
            }    
        }
        .productive {
            width: 100% !important;
        }
        .access {
            width: 80% !important;
            left: 10% !important;
        }
    }
    footer {
        .box-1 {
            width: 35% !important;
        }
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}