doctype html
html
    head
        title FYLO
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="images/logo.png" sizes="16x16")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
    body
        header
            .container
                .logo
                    a(href="")
                        img(src="images/logo.svg", alt="")
                ul
                    li
                        a(href="") Features
                    li
                        a(href="") Team
                    li
                        a(href="") Sign In
            
        //- Start Slider Box
        .slider
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#181F2B" fill-opacity="1" d="M0,32L34.3,64C68.6,96,137,160,206,165.3C274.3,171,343,117,411,85.3C480,53,549,43,617,37.3C685.7,32,754,32,823,64C891.4,96,960,160,1029,176C1097.1,192,1166,160,1234,122.7C1302.9,85,1371,43,1406,21.3L1440,0L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
            .container
                .content
                    .image
                        img(src="images/illustration-intro.png", alt="")
                    .text
                        h1 All your files in one secure location,
                        h1 accessible anywhere. 
                        p Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.
                        .link
                            a(href="") Get Strated
        .box-content
            .container
                .info
                    .box
                        img(src="images/icon-access-anywhere.svg", alt="")
                        h3 Access your files, anywhere
                        p The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.
                    .box
                        img(src="images/icon-security.svg", alt="")
                        h3 Security you can trust
                        p 2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.

                .info
                    .box
                        img(src="images/icon-collaboration.svg", alt="")
                        h3 Real-time collaboration
                        p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.

                    .box
                        img(src="images/icon-any-file.svg", alt="")
                        h3 Store any type of file
                        p Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.
                
                .productive
                    .image
                        img(src="images/illustration-stay-productive.png", alt="")
                    .content
                        h2 Stay productive,
                        h2 wherever you are
                        p Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
                        p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
                        a(href="") See how Fylo works
                            i(class="fas fa-long-arrow-alt-right")
                .testmonials
                    .box
                        p Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
                        .founder
                            img(src="images/profile-1.jpg", alt="")
                            .text
                                h4 Satish Patel
                                p Founder & CEO, Huddle
                    .box
                        p Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
                        .founder
                            img(src="images/profile-2.jpg", alt="")
                            .text
                                h4 Bruce McKenzie
                                p Founder & CEO, Huddle
                    .box
                        p Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
                        .founder
                            img(src="images/profile-3.jpg", alt="")
                            .text
                                h4 Iva Boyd
                                p Founder & CEO, Huddle
                .access
                    h2 Get early access today
                    p It only takes a minute to sign up and our free starter tier is extremely generous. If you have any
                    p questions, our support team would be happy to help you.
                    .link
                        form(action="")
                            input(type="text" name="email" placeholder="email@example.com")
                            button(type="submit" name="submit") Get Started For Free
        footer
            .container
                .box-1
                    i(class="fas fa-map-marker-alt")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                .box-2
                    .box-text
                        p 
                            i(class="fas fa-phone-alt") 
                            |+1-543-123-4567
                        p 
                            i(class="fas fa-envelope")
                            |example@fylo.com
                    .box-text
                        p About Us

                        p Jobs

                        p Press

                        p Blog

                    .box-text
                        p Contact Us

                        p Terms

                        p Privacy
                .box-3
                    a(href="")
                        i(class="fab fa-facebook-f")
                    a(href="")
                        i(class="fab fa-instagram")
                    a(href="")
                        i(class="fab fa-twitter-square")
        .copy-right
            p Challenge by 
                a(href="") Frontend Mentor
                |. Coded by 
                a(href="") Yusuf Azzam.

